.tela-informacoes-extras {
    background-image: url('../imagens/1.1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    align-content: center;
    position: relative;
}

.informacoes-extras { 
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: 90%;
    gap: 15px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 191, 255, 0.6);
  }
  @media(max-width: 325px) {
    .informacoes-extras {
      padding: 5px;
      max-width: 100%;
    }
  }

.btn-cosmic {
  font-family: 'Orbitron', sans-serif;
  padding: 18px 30px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 12px;
  cursor: pointer;
  background: #3D214E; 
  border: 2px solid #A020F0; 
  color: #e0f2f7;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 15px #A020F0; 
}

@media(max-width: 325px) {
  .btn-cosmic {
    font-size: 0.8rem;
  }
}

.btn-cosmic:hover {
  background: #A020F0; 
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 0 25px #A020F0; 
  border-color: #e0f2f7;
}