/* PERFIL DO AGENTE */
.tela-perfil,
.perfil-edicao, 
.secao-trocar-senha,
.tela-cadastro {
    background-image: url('../imagens/fundo-perfil.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: #fff; 
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.container-perfil {
    background: rgba(13, 11, 28, 0.75);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2.5rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 40px rgba(118, 59, 219, 0.6);
    text-align: center;
}

/* --- ESTILOS DE VISUALIZAÇÃO DO PERFIL --- */
.header-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
}

.titulo-secao {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px #763bdb;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.btn-editar-perfil,
.btn-cadastrar-conta {
    padding: 0.6rem 1.3rem;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Orbitron', sans-serif;
    background: transparent;
    color: #c1c1e0;
    border-color: #763bdb;
}

.btn-editar-perfil:hover,
.btn-cadastrar-conta:hover {
    background: #763bdb;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 15px #763bdb;
}

.conteudo-perfil {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.perfil-foto {
    flex-shrink: 0; 
}

.perfil-foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 20px rgba(147, 86, 249, 0.8);
    object-fit: cover;
}

.perfil-info {
    flex-grow: 1; 
    text-align: left;
}

.info-item {
    margin-bottom: 1.2rem;
    background-color: rgba(21, 11, 63, 0.5);
    border: 1px solid rgba(118, 59, 219, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.info-item:last-child {
    margin-bottom: 0;
}

.label {
    font-weight: 700;
    color: #a3a3c2;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.valor {
    font-size: 1.1rem;
    display: block;
    font-family: 'Space mono', sans-serif;
    line-height: 1.5;
}


/* --- TELA DE EDITAR PERFIL --- */
.btn-salvar,
.btn-cancelar {
    padding: 0.6rem 1.3rem;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Orbitron', sans-serif;
    max-width: 300px;
    align-self: center;
}

.btn-salvar,
.campo-foto-edicao button {
    background: linear-gradient(90deg, #6c4af5, #9356f9);
    color: #fff;
}
.btn-salvar:hover,
.campo-foto-edicao button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #6c4af5;
}

.btn-cancelar {
    background: transparent;
    color: #ff7b9f;
    border-color: #ff4081;
}
.btn-cancelar:hover {
    background: #ff4081;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff4081;
}

.form-perfil {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;

    background: rgba(13, 11, 28, 0.75);
    backdrop-filter: blur(19px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2.5rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 40px rgba(118, 59, 219, 0.6);
    text-align: center;
}

.campo-foto-edicao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.foto-perfil-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #763bdb;
    box-shadow: 0 0 15px rgba(118, 59, 219, 0.8);
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.label-foto img {
    cursor: pointer;
    font-size: 1rem;
    /* color: #fff; */
    transition: color 0.3s ease;
}
.label-foto img:hover {
    color: #9356f9;
}

.campo-foto-edicao button {
    padding: 5px;
    margin-left: 20px;
    transition: all 0.3s ease;
    border: none;
    border-radius: 5px;
}

.campo-input label {
    font-size: 1rem;
    font-weight: 500;
    color: #a3a3c2;
    font-family: 'Orbitron', sans-serif;
}

.campo-input input,
.campo-input textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid transparent;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Space Mono', sans-serif;
    margin-top: 0.5rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.campo-input input:focus,
.campo-input textarea:focus {
    outline: none;
    border-color: #9356f9;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px #9356f9;
}

.botoes-edicao {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.botoes-edicao > button {
    flex-grow: 1;
}

.secao-seguranca {
    text-align: center; 
    margin-top: 1rem;
}

.btn-troca-senha {
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Orbitron', sans-serif;
    background: transparent;
    color: #fff;
    border: 2px solid #9356f9;
}

.btn-troca-senha:hover {
    background: #9356f9;
    box-shadow: 0 0 15px #9356f9;
    transform: scale(1.05);
}


/* --- TELA DE TROCAR SENHA --- */
.form-trocar-senha {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    margin-top: 2rem;
}

.captcha-container {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* --- GALERIA DE AVATARES --- */
.galeria-agentes-espaciais {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    position: relative;
    background-color: rgba(21, 11, 63, 0.5);
    border: 2px solid rgba(118, 59, 219, 0.5);
    /* box-shadow: 0 0 25px rgba(118, 59, 219, 0.8); */
    max-height: 180px; 
    overflow-y: auto; /* barra de rolagem se o conteúdo chegar a 250px */
    padding-right: 15px;
}

.galeria-agentes-espaciais .btn-fechar-galeria {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    border-radius: 50%;
    background: #ff4081; 
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.galeria-agentes-espaciais .btn-fechar-galeria:hover {
    background: #ff7b9f;
}

.ativo {
    border: 3px solid #16bd6f;
}


.galeria-grid-avatares {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
    padding: 10px; 
    width: 100%;
}

.avatar-item {
    width: 85px; 
}

.avatar-item img {
    width: 100%;
    max-width: 100%;
    transition: .3s all;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-item img:hover {
    border: 3px solid #360985;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px #9356f9;
    transform: scale(1.1);
}


/* --- Media Queries para Responsividade --- */
@media (max-width: 768px) {
    .titulo-secao {
        font-size: 1.8rem;
    }
}

@media (max-width: 550px) {
    .container-perfil {
        padding: 2rem 1.5rem;
        margin: 1rem 0;
    }

    .header-perfil {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }

    .conteudo-perfil {
        flex-direction: column;
        text-align: center;
    }

    .perfil-info {
        text-align: center;
    }

    .label {
        text-align: center;
    }

    .perfil-foto img {
        width: 120px;
        height: 120px;
    }

    .botoes-edicao {
        flex-direction: column;
    }
}