.tela-navegacao {
    background-image: url('../imagens/Fundo_Espacial_UI_Astronauta-fotor-enhance-20250914133357.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #0f2549; */
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px; 
    padding: 20px;
    position: relative; 
    color: #e0f2f7;
}

.tela-navegacao .barra,
.tela-menu .barra {
    justify-content: flex-start;
    position: static;
    display: flex;
    margin-top: 20px;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.4); 
    border: 2px solid #5D3FD3; 
    border-radius: 50px;
    padding: 8px 15px;
    width: 400px;
    max-width: 90%; 
    box-shadow: 0 0 15px #A020F0;
}

.tela-navegacao input,
.tela-menu input {
    height: 35px;
    outline: none;
    width: 350px;
    max-width: 90%;
    border: none;
    background-color: transparent;
    color: #e0f2f7; 
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

.barra .lupa {
    position: static;
    width: 20px;
    height: 20px;
   
    filter: invert(1) brightness(1.2); 
}
/* .tela-navegacao .barra {
    justify-content: flex-start;
    position: static;
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 8px 15px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
} 

.tela-navegacao input {
    height: 35px;
    outline: none;
    width: 350px;
    max-width: 90%;
    border: none;
}

.barra .lupa {
    position: static;
    width: 20px;
    height: 20px;
} */

.tela-navegacao .botao {
    width: 350px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 191, 255, 0.6);
}

.tela-navegacao .opcao {
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px; 
    width: 300px;
    padding: 20px;
}

/* .tela-navegacao button:hover {
    background-color: rgb(143, 141, 240);
    transform: scale(1.05); 
} */

.menu-centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .casinha {
    position: absolute;
    bottom: 40px;
    width: 80px;
    cursor: pointer;
    background-color: #2b1638;
    transition: 0.3s ease-out;
}

.casinha:hover {
    transform: scale(1.05);
    background-color: transparent; 
    box-shadow: 0 0 20px 5px #A020F0;
    border-radius: 10px;
} */ 